<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
    <!-- Start Category -->
    <section class="category-page section">
      <div class="container">
          <div class="text-end p-0 m-0 mb-3">
              <button type="button" class="btn btn-primary" onclick="location.href = '/board/regist'">게시글 작성</button>
          </div>
        <div class="row m-0">
            <div class="category-sidebar p-0">
              <!-- Start Single Widget -->
              <div class="single-widget search">
                <h3>키워드</h3>
                <form th:action="|/${category1}/list|">
                  <input type="hidden" name="category1" th:value="${category1}" />
                  <input type="hidden" name="search_type" value="t" />
                  <input type="hidden" name="search_type" value="c" />
                  <input type="hidden" name="search_type" value="u" />
                  <input type="text" name="search_word" placeholder="제목&내용&등록자" />
                  <button type="submit">
                    <i class="lni lni-search-alt"></i>
                  </button>
                </form>
              </div>
              <!-- End Single Widget -->
            </div>
        </div>
        <div class="row m-0 mt-3">
          <div class="my-items bg-white rounded shadow-sm p-5">
            <!-- Start List Title -->
            <div class="item-list-title bg-teenflea text-white rounded-top p-3">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 col-12 d-flex align-items-center">
                        <p class="p-0 m-0 text-white">제목</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <p class="text-white">카테고리</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="text-white">등록자</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12 align-right">
                        <p class="text-white">등록일</p>
                    </div>
                </div>
            </div>
            <!-- End List Title -->
            <!-- Start Single List -->
              <th:block th:if="${pageResponseDTO.dtoList.size() > 0}">
                  <div class="single-item-list cursor-pointer" th:each="dto:${pageResponseDTO.dtoList}">
                      <div class="row align-items-center p-3" th:data-idx="${dto.bbsIdx}" onclick="goToThisLink('/board/view?bbsIdx=',this)">
                          <div class="col-lg-5 col-md-5 col-12">
                              <p class="title">[[${dto.title}]]</p>
                          </div>
                          <div class="col-lg-3 col-md-3 col-12">
                              <p>[[${dto.category2}]]</p>
                          </div>
                          <div class="col-lg-2 col-md-2 col-12">
                              <p>[[${dto.userId}]]</p>
                          </div>
                          <div class="col-lg-2 col-md-2 col-12 align-right">
                              <p>[[${#strings.substring(dto.regDate,0,10)}]]</p>
                          </div>
                      </div>
                  </div>
              </th:block>
              <th:block th:unless="${pageResponseDTO.dtoList.size() > 0}">
                  <div class="single-item-list" >
                      <div class="row align-items-center p-3" >
                          <div class="col-12">
                              <p class="title text-center">게시글이 없습니다.</p>
                          </div>
                      </div>
                  </div>
              </th:block>
          <div class="row">
              <div class="col-12">
                  <!-- Pagination -->
                  <div class="pagination center">
                      <ul class="pagination-list">
                          <li th:if="${pageResponseDTO.prev_page_flag}">
                              <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_start -10})}${pageResponseDTO.linkParams}|"><i class="lni lni-chevron-left"></i></a>
                          </li>
                          <th:block th:each="i:${#numbers.sequence(pageResponseDTO.page_block_start,pageResponseDTO.page_block_end)}">
                              <li th:class="${pageResponseDTO.getPage() == i} ? 'page-item active' : 'page-item'">
                                  <a th:href="|/${category1}@{/list(page=${i})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                              </li>

                          </th:block>
                          <li th:if="${pageResponseDTO.next_page_flag}">
                              <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_end +1})}${pageResponseDTO.linkParams}|"><i class="lni lni-chevron-right"></i></a>
                          </li>
                      </ul>
                  </div>
                  <!--/ End Pagination -->
              </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- End Category -->
</div>
  </body>
</html>
