<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
    <!-- Start Category -->
    <section class="category-page section">
      <div class="container">
          <div class="text-end p-0 m-0 mb-3">
              <button type="button" class="btn btn-primary" onclick="location.href = '/board/regist'">게시글 작성</button>
          </div>
        <div class="row m-0">
            <div class="category-sidebar p-0">
              <!-- Start Single Widget -->
              <div class="single-widget search">
                <h3>키워드</h3>
                <form action="#">
                  <input type="text" placeholder="흠냐 뭘 검색할까?" />
                  <button type="submit">
                    <i class="lni lni-search-alt"></i>
                  </button>
                </form>
              </div>
              <!-- End Single Widget -->
            </div>
        </div>
        <div class="row m-0 mt-3">
          <div class="my-items bg-white rounded shadow-sm p-5">
            <!-- Start List Title -->
            <div class="item-list-title bg-teenflea text-white rounded-top p-3">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 col-12 d-flex align-items-center">
                        <p class="p-0 m-0 text-white">제목</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                        <p class="text-white">카테고리</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p class="text-white">등록자</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12 align-right">
                        <p class="text-white">등록일</p>
                    </div>
                </div>
            </div>
            <!-- End List Title -->
            <!-- Start Single List -->
            <div class="single-item-list cursor-pointer">
                <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                    <div class="col-lg-5 col-md-5 col-12">
                      <p class="title">게시글 1 입니다.</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-12">
                      <p>문의</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                      <p>장지현</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12 align-right">
                      <p>2024-05-21</p>
                    </div>
                </div>
            </div>
            <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
          </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
              <div class="single-item-list cursor-pointer">
                  <div class="row align-items-center p-3" onclick="location.href = '/board/view?idx=1'">
                      <div class="col-lg-5 col-md-5 col-12">
                          <p class="title">게시글 1 입니다.</p>
                      </div>
                      <div class="col-lg-3 col-md-3 col-12">
                          <p>문의</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12">
                          <p>장지현</p>
                      </div>
                      <div class="col-lg-2 col-md-2 col-12 align-right">
                          <p>2024-05-21</p>
                      </div>
                  </div>
              </div>
            <!--/ End Pagination -->
        </div>
      </div>
      </div>
    </section>
    <!-- End Category -->
</div>
  </body>
</html>
