<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
  <!-- Start Category -->
  <section class="category-page section">
    <div class="container">
      <div class="d-flex justify-content-between mb-2">
        <div><button type="button" class="btn btn-outline-primary">목록</button></div>
        <div class="d-flex gap-1">
          <button type="button" class="btn btn-outline-primary">삭제</button>
          <button type="button" class="btn btn-primary">수정</button>
        </div>
      </div>
      <div class="row m-0 mt-3">
        <div class="my-items bg-white rounded shadow-sm p-5">
          <!-- Start List Title -->
          <div class="d-flex flex-column gap-1">
            <div class="row align-items-center">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">제목</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border">
                <p>저는 제목이라고 하는데요???</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">카테고리</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border">
                <p>카테고리1</p>
              </div>
            </div>
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-12">
                <div class="row">
                <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                  <p class="p-0 m-0 text-white text-center">작성자</p>
                </div>
                <div class="col-lg-10 col-md-10 col-12 p-3 border">
                  <p>장지현</p>
                </div>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="row">
                <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 border-primary text-center">
                  <p class="p-0 m-0 text-white text-center">등록일</p>
                </div>
                <div class="col-lg-10 col-md-10 col-12 p-3 rounded-end border">
                  <p>2024-05-22</p>
                </div>
                </div>
              </div>
            </div>
            <div class="row align-items-stretch">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">첨부파일</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="max-height: 300px">
                <p class="p-1 border rounded"><button class="btn btn-secondary me-3"><img src="/assets/images/icon/file-earmark-arrow-down-fill.svg"></button><a href="#">첨부파일</a></p>
                <p class="p-1 border rounded"><button class="btn btn-secondary me-3"><img src="/assets/images/icon/file-earmark-arrow-down-fill.svg"></button><a href="#">첨부파일</a></p>
                <p class="p-1 border rounded"><button class="btn btn-secondary me-3"><img src="/assets/images/icon/file-earmark-arrow-down-fill.svg"></button><a href="#">첨부파일</a></p>
                <p class="p-1 border rounded"><button class="btn btn-secondary me-3"><img src="/assets/images/icon/file-earmark-arrow-down-fill.svg"></button><a href="#">첨부파일</a></p>
              </div>
            </div>
            <div class="row align-items-stretch">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">내용</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="height: 500px">
                <p>안녕? 내 이름은 장지현</p><p>거꾸로 해도 장지현은 아니고 현지장!</p><p><br></p><p>요즘 너무 배고파서 머리가 안돌아가!!</p><p>뭐? 너도 그렇다고??</p><p><br></p><p>그렇담 우리는 친구야! 칭구칭구~</p>
              </div>
            </div>
          </div>
          <!-- End List Title -->
        </div>
      </div>
      <div class="row m-0 mt-3">
      <div class="post-comments">
        <h3 class="comment-title"><span>댓글</span></h3>
        <form class="m-0 mb-5 row">
          <div class="col-lg-11 col-12 p-0">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <div class="col-lg-1 col-12 p-0" >
            <button class="btn btn-primary w-100 h-100">등록</button>
          </div>
        </form>
        <ul class="comments-list">
          <li>
            <div class="comment-desc">
              <div class="desc-top d-flex justify-content-between w-100">
                <div>
                <h6>장지현</h6>
                <span class="date">2024-05-22 11:43</span>
                </div>
                <div class="d-flex gap-1 align-items-center">
                  <a href="#" class="reply-link position-sticky" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>
                  <a href="#" class="reply-link position-sticky" onclick="removeThis(this)"><i class="lni lni-eraser"></i>삭제</a>
                </div>
              </div>
              <p class="text-area">
                제가 한번 댓글을 달아보겠습니다?!<br>잘 보이시나요??
              </p>
            </div>
          </li>
          <li>
            <div class="comment-desc">
              <div class="desc-top d-flex justify-content-between w-100">
                <div>
                  <h6>장지현</h6>
                  <span class="date">2024-05-22 11:43</span>
                </div>
                <div class="d-flex gap-1 align-items-center">
                  <a href="#" class="reply-link position-sticky" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>
                  <a href="#" class="reply-link position-sticky" onclick="removeThis(this)"><i class="lni lni-eraser"></i>삭제</a>
                </div>
              </div>
              <p class="text-area">
                제가 한번 댓글을 달아보겠습니다?!<br>잘 보이시나요??
              </p>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </section>
  <!-- End Category -->
</div>
<script layout:fragment="script">
  function changeToModifyForm(element) {
    event.preventDefault();
    event.stopPropagation();
    let textArea = element.parentElement.parentElement.parentElement.querySelector('.text-area');
    textArea.outerHTML = `<textarea class="form-control" rows="3" wrap="hard" >${textArea.innerText}</textarea>`;
    element.outerHTML = `<a href="#" class="reply-link position-sticky" onclick="changeToView(this)"><i class="lni lni-save"></i>저장</a>`
  }

  function changeToView(element) {
    event.preventDefault();
    event.stopPropagation();
    let textArea = element.parentElement.parentElement.parentElement.querySelector('textarea');
    let textAreaVal = textArea.value.replaceAll('\n', '<br>');
    console.log("????????" +textAreaVal);
    textArea.outerHTML = `<p class="text-area"></p>`;
    element.parentElement.parentElement.parentElement.querySelector('.text-area').innerHTML = textAreaVal;
    element.outerHTML = `<a href="#" class="reply-link position-sticky" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>`
  }

  function removeThis(element) {
    event.preventDefault();
    event.stopPropagation();
    let target = element.parentElement.parentElement.parentElement.parentElement;
    $(target).remove();
    let comments = document.querySelectorAll('ul.comments-list > li');
    if(comments.length == 0) {
      $('ul.comments-list').append(`<li>등록된 댓글이 없습니다.</li>`);
    }
  }
</script>
</body>
</html>
