<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
  <!-- Start Category -->
  <section class="category-page section">
    <div class="container">
      <div class="d-flex justify-content-between mb-2">
        <div><a th:href="|/${category1}/list|" type="button" class="btn btn-outline-primary">목록</a></div>
        <div class="d-flex gap-1">
          <a th:href="|/board/delete?category1=${category1}&bbsIdx=${bbsDTO.getBbsIdx()}|" type="button" class="btn btn-outline-primary">삭제</a>
          <a th:href="|/board/modify?category1=${category1}&bbsIdx=${bbsDTO.getBbsIdx()}|" type="button" class="btn btn-primary">수정</a>
        </div>
      </div>
      <div class="row m-0 mt-3">
        <div class="my-items bg-white rounded shadow-sm p-5">
          <!-- Start List Title -->
          <div class="d-flex flex-column gap-1">
            <div class="row align-items-center">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">제목</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border">
                <p>[[${bbsDTO.title}]]</p>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">카테고리</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border">
                <p>[[${bbsDTO.category2}]]</p>
              </div>
            </div>
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-12">
                <div class="row">
                <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                  <p class="p-0 m-0 text-white text-center">작성자</p>
                </div>
                <div class="col-lg-10 col-md-10 col-12 p-3 border">
                  <p>[[${bbsDTO.userId}]]</p>
                </div>
                </div>
              </div>
              <div class="col-lg-6 col-12">
                <div class="row">
                <div class="col-lg-2 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 border-primary text-center">
                  <p class="p-0 m-0 text-white text-center">등록일</p>
                </div>
                <div class="col-lg-10 col-md-10 col-12 p-3 rounded-end border">
                  <p>[[${#strings.substring(bbsDTO.regDate,0,10)}]]</p>
                </div>
                </div>
              </div>
            </div>
            <div class="row align-items-stretch">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">첨부파일</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="max-height: 300px">
                <p class="p-1 border rounded" th:each="dto:${bbsFileDTOList}"><button class="btn btn-secondary me-3"><img src="/assets/images/icon/file-earmark-arrow-down-fill.svg"></button><a th:href="|/board/downloadfile?fileName=${dto.fileName}|">[[${dto.fileName}]]</a></p>
              </div>
            </div>
            <div class="row align-items-stretch">
              <div class="col-lg-1 col-md-2 col-12 d-flex align-items-center bg-teenflea p-3 rounded-start border-primary text-center">
                <p class="p-0 m-0 text-white text-center">내용</p>
              </div>
              <div class="col-lg-11 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="height: 500px" th:utext="${bbsDTO.content}">
              </div>
            </div>
          </div>
          <!-- End List Title -->
        </div>
      </div>
      <div class="row m-0 mt-3">
      <div class="post-comments">
        <h3 class="comment-title"><span>댓글</span></h3>
        <form class="m-0 mb-5 row" action="/board/registreply" method="post">
          <div class="col-lg-11 col-12 p-0">
            <input type="hidden" name="bbsIdx" th:value="${bbsDTO.bbsIdx}">
            <textarea class="form-control" name="content" rows="3"></textarea>
          </div>
          <div class="col-lg-1 col-12 p-0" >
            <button class="btn btn-primary w-100 h-100">등록</button>
          </div>
        </form>
        <ul class="comments-list">
          <li>
            <div class="comment-desc" th:each="dto:${bbsReplyDTOList}">
              <form action="/board/modifyreply" method="post">
                <input type="hidden" name="replyIdx" th:value="${dto.getReplyIdx()}">
                <input type="hidden" name="bbsIdx" th:value="${dto.getBbsIdx()}">
                <div class="desc-top d-flex justify-content-between w-100">
                  <div>
                  <h6>[[${dto.userId}]]</h6>
                  <span class="date" >등록일시 : [[${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm')}]] </span>
                  <span class="date" th:if="${dto.modifyDate}!=null">수정일시 : [[${#temporals.format(dto.modifyDate, 'yyyy-MM-dd HH:mm')}]] </span>
                  </div>
                  <div class="d-flex gap-1 align-items-center">
                    <a class="reply-link position-sticky" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>
                    <a th:href="@{/board/deletereply(replyIdx=${dto.replyIdx},bbsIdx=${dto.getBbsIdx()})}" class="reply-link position-sticky"><i class="lni lni-eraser"></i>삭제</a>
                  </div>
                </div>
                <p class="text-area">
                  [[${dto.content}]]
                </p>
              </form>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </section>
  <!-- End Category -->
</div>
<script layout:fragment="script">
  function changeToModifyForm(element) {
    event.preventDefault();
    event.stopPropagation();
    let textArea = element.parentElement.parentElement.parentElement.querySelector('.text-area');
    textArea.outerHTML = `<textarea name="content" class="form-control" rows="3" wrap="hard" >${textArea.innerText}</textarea>`;
    element.outerHTML = `<button type="submit" class="reply-link position-sticky"><i class="lni lni-save"></i>저장</button>`
  }

  function changeToView(element) {
    event.preventDefault();
    event.stopPropagation();
    let textArea = element.parentElement.parentElement.parentElement.querySelector('textarea');
    let textAreaVal = textArea.value.replaceAll('\n', '<br>');
    console.log("????????" +textAreaVal);
    textArea.outerHTML = `<p class="text-area"></p>`;
    element.parentElement.parentElement.parentElement.querySelector('.text-area').innerHTML = textAreaVal;
    element.outerHTML = `<a href="#" class="reply-link position-sticky" onclick="changeToModifyForm(this)"><i class="lni lni-brush-alt"></i>수정</a>`
  }

  function removeThis(element) {
    event.preventDefault();
    event.stopPropagation();
    let target = element.parentElement.parentElement.parentElement.parentElement;
    $(target).remove();
    let comments = document.querySelectorAll('ul.comments-list > li');
    if(comments.length == 0) {
      $('ul.comments-list').append(`<li>등록된 댓글이 없습니다.</li>`);
    }
  }
</script>
</body>
</html>
