<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
    <!-- Start Category -->
    <section class="category-page section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12">
            <div class="category-sidebar">
              <!-- Start Single Widget -->
              <div class="single-widget search">
                <h3>키워드</h3>
                <form action="#">
                  <input type="text" placeholder="흠냐 뭘 검색할까?" />
                  <button type="submit">
                    <i class="lni lni-search-alt"></i>
                  </button>
                </form>
              </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="single-widget">
                <h3>카테고리</h3>
                <ul class="list">
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-menu"></i> 전체<span>15</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="lni lni-laptop"></i> 디지털기기<span>15</span></a>
                  </li>
                  <li>
                    <a href="#"><i class="lni lni-home"></i> 가구/인테리어 <span>20</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-tshirt"></i> 의류 <span>55</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-diamond-alt"></i> 잡화<span>35</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-display"></i> 생활가전 <span>60</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-basketball"></i> 스포츠/레저 <span>55</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-game"></i> 취미 <span>45</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-spray"></i> 뷰티 <span>45</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-book"></i> 도서 <span>45</span></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-more-alt"></i> 기타 <span>45</span></a>
                  </li>
                </ul>
              </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="single-widget banner">
                <h3>광고</h3>
                <a href="javascript:void(0)">
                    <img class="w-100 rounded" src="/assets/images/banner/banner.jpg" alt="#">
                </a>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <div class="category-grid-list">
              <div class="row">
                <div class="col-12">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?bbsIdx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?bbsIdx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?bbsIdx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="image">
                              <a href="/goods/view?idx=1"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                            </div>
                            <div class="content">
                              <a href="/goods/view?idx=1" class="tag">카테고리1</a>
                              <h3 class="title">
                                <a href="/goods/view?idx=1">상품명</a>
                              </h3>
                              <p class="location">
                                <a href="/goods/view?idx=1"><i class="lni lni-map-marker"> </i>서울특별시</a>
                              </p>
                              <ul class="info">
                                <li class="price">10,000원</li>
                              </ul>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <!-- Pagination -->
                          <div class="pagination center">
                            <ul class="pagination-list">
                              <li>
                                <a href="#"><i class="lni lni-chevron-left"></i></a>
                              </li>
                              <li><a href="#">1</a></li>
                              <li class="active">
                                <a href="#">2</a>
                              </li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li>
                                <a href="#"><i class="lni lni-chevron-right"></i></a>
                              </li>
                            </ul>
                          </div>
                          <!--/ End Pagination -->
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                      <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="row align-items-center">
                              <div class="col-lg-5 col-md-7 col-12">
                                <div class="image">
                                  <a href="item-details.html"><img class="w-100" src="/assets/images/items-grid/img2.jpg" alt="#" /></a>
                                  <i class="cross-badge lni lni-bolt"></i>
                                  <span class="flat-badge sale">Sale</span>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-5 col-12">
                                <div class="content">
                                  <a href="javascript:void(0)" class="tag">Others</a>
                                  <h3 class="title">
                                    <a href="item-details.html">Travel Kit</a>
                                  </h3>
                                  <p class="location">
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"> </i>San Francisco</a>
                                  </p>
                                  <ul class="info">
                                    <li class="price">$580.00</li>
                                    <li class="like">
                                      <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="row align-items-center">
                              <div class="col-lg-5 col-md-7 col-12">
                                <div class="image">
                                  <a href="item-details.html"><img class="w-100" src="/assets/images/items-grid/img3.jpg" alt="#" /></a>
                                  <i class="cross-badge lni lni-bolt"></i>
                                  <span class="flat-badge sale">Sale</span>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-5 col-12">
                                <div class="content">
                                  <a href="javascript:void(0)" class="tag">Electronic</a>
                                  <h3 class="title">
                                    <a href="item-details.html">Nikon DSLR Camera</a>
                                  </h3>
                                  <p class="location">
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"> </i>Alaska, USA</a>
                                  </p>
                                  <ul class="info">
                                    <li class="price">$560.00</li>
                                    <li class="like">
                                      <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="row align-items-center">
                              <div class="col-lg-5 col-md-7 col-12">
                                <div class="image">
                                  <a href="item-details.html"><img class="w-100" src="/assets/images/items-grid/img1.jpg" alt="#" /></a>
                                  <i class="cross-badge lni lni-bolt"></i>
                                  <span class="flat-badge sale">Sale</span>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-5 col-12">
                                <div class="content">
                                  <a href="javascript:void(0)" class="tag">Mobile</a>
                                  <h3 class="title">
                                    <a href="item-details.html">Apple Iphone X</a>
                                  </h3>
                                  <p class="location">
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"> </i>Boston</a>
                                  </p>
                                  <ul class="info">
                                    <li class="price">$890.00</li>
                                    <li class="like">
                                      <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="row align-items-center">
                              <div class="col-lg-5 col-md-7 col-12">
                                <div class="image">
                                  <a href="item-details.html"><img class="w-100" src="/assets/images/items-grid/img4.jpg" alt="#" /></a>
                                  <i class="cross-badge lni lni-bolt"></i>
                                  <span class="flat-badge sale">Sale</span>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-5 col-12">
                                <div class="content">
                                  <a href="javascript:void(0)" class="tag">Furniture</a>
                                  <h3 class="title">
                                    <a href="item-details.html">Poster Paint</a>
                                  </h3>
                                  <p class="location">
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"> </i>Las Vegas</a>
                                  </p>
                                  <ul class="info">
                                    <li class="price">$85.00</li>
                                    <li class="like">
                                      <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                          <!-- Start Single Item -->
                          <div class="single-item-grid">
                            <div class="row align-items-center">
                              <div class="col-lg-5 col-md-7 col-12">
                                <div class="image">
                                  <a href="item-details.html"><img class="w-100" src="/assets/images/items-grid/img6.jpg" alt="#" /></a>
                                  <i class="cross-badge lni lni-bolt"></i>
                                  <span class="flat-badge rent">Rent</span>
                                </div>
                              </div>
                              <div class="col-lg-7 col-md-5 col-12">
                                <div class="content">
                                  <a href="javascript:void(0)" class="tag">Books & Magazine</a>
                                  <h3 class="title">
                                    <a href="item-details.html">Story Book</a>
                                  </h3>
                                  <p class="location">
                                    <a href="javascript:void(0)"><i class="lni lni-map-marker"> </i>New York, USA</a>
                                  </p>
                                  <ul class="info">
                                    <li class="price">$120.00</li>
                                    <li class="like">
                                      <a href="javascript:void(0)"><i class="lni lni-heart"></i></a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- End Single Item -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Category -->
  </div>
  </body>
</html>
