<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
    <!-- Start Category -->
    <section class="category-page section">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-12">
            <div class="category-sidebar">
              <!-- Start Single Widget -->
              <div class="single-widget search">
                <h3>키워드</h3>
                <form th:action="|/${category1}/list|">
                  <input type="hidden" name="category1" th:value="${category1}" />
                  <input type="hidden" name="search_type" value="t" />
                  <input type="hidden" name="search_type" value="c" />
                  <input type="hidden" name="search_type" value="u" />
                  <input type="text" name="search_word" placeholder="제목&내용&등록자" />
                  <button type="submit">
                    <i class="lni lni-search-alt"></i>
                  </button>
                </form>
              </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="single-widget">
                <h3>카테고리</h3>
                <ul class="list">
                  <li>
                    <a href="/goods/list"><i class="lni lni-menu"></i> 전체<span>[[${categoryTwoTotalCount}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=디지털기기&addr1="><i class="lni lni-laptop"></i> 디지털기기<span>[[${categoryTwoCount[0]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=가구/인테리어&addr1="><i class="lni lni-home"></i> 가구/인테리어 <span>[[${categoryTwoCount[1]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=의류&addr1="><i class="lni lni-tshirt"></i> 의류 <span>[[${categoryTwoCount[2]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=잡화&addr1="><i class="lni lni-diamond-alt"></i> 잡화<span>[[${categoryTwoCount[3]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=생활가전&addr1="><i class="lni lni-display"></i> 생활가전 <span>[[${categoryTwoCount[4]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=스포츠/레저&addr1="><i class="lni lni-basketball"></i> 스포츠/레저 <span>[[${categoryTwoCount[5]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=취미&addr1="><i class="lni lni-game"></i> 취미 <span>[[${categoryTwoCount[6]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=뷰티&addr1="><i class="lni lni-spray"></i> 뷰티 <span>[[${categoryTwoCount[7]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=도서&addr1="><i class="lni lni-book"></i> 도서 <span>[[${categoryTwoCount[8]}]]</span></a>
                  </li>
                  <li>
                    <a href="/goods/list?search_word=&category2=기타&addr1="><i class="lni lni-more-alt"></i> 기타 <span>[[${categoryTwoCount[9]}]]</span></a>
                  </li>
                </ul>
              </div>
              <!-- End Single Widget -->
              <!-- Start Single Widget -->
              <div class="single-widget banner">
                <h3>광고</h3>
                <a href="javascript:void(0)">
                    <img class="w-100 rounded" src="/assets/images/banner/banner.jpg" alt="#">
                </a>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
          <div class="col-lg-9 col-md-8 col-12">
            <div class="category-grid-list">
              <th:block th:if="${pageResponseDTO.dtoList.size() > 0}">
                <div class="row">
                  <div class="col-12">
                    <div class="tab-content" id="nav-tabContent">
                      <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                        <div class="row">
                          <div class="col-lg-4 col-md-6 col-12" th:each="dto:${pageResponseDTO.dtoList}">
                            <!-- Start Single Item -->
                            <div class="single-item-grid">
                              <div class="image">
                                <a th:href="|/goods/view?bbsIdx=${dto.getBbsIdx()}|"><img class="w-100" th:src="|${dto.thumbnailDirectory}/${dto.thumbnailFileName}|" alt="#" /></a>
                              </div>
                              <div class="content">
                                <a th:href="|/goods/view?bbsIdx=${dto.getBbsIdx()}|" class="tag">[[${dto.category2}]]</a>
                                <h3 class="title">
                                  <a th:href="|/goods/view?bbsIdx=${dto.getBbsIdx()}|">[[${dto.title}]]</a>
                                </h3>
                                <p class="location">
                                  <a th:href="|/goods/view?bbsIdx=${dto.getBbsIdx()}|"><i class="lni lni-map-marker"> </i>[[${dto.addr1}]]</a>
                                </p>
                                <ul class="info">
                                  <li class="price">[[${dto.price}]]</li>
                                </ul>
                              </div>
                            </div>
                            <!-- End Single Item -->
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <!-- Pagination -->
                            <div class="pagination center">
                              <ul class="pagination-list">
                                <li th:if="${pageResponseDTO.prev_page_flag}">
                                  <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_start -10})}${pageResponseDTO.linkParams}|"><i class="lni lni-chevron-left"></i></a>
                                </li>
                                <th:block th:each="i:${#numbers.sequence(pageResponseDTO.page_block_start,pageResponseDTO.page_block_end)}">
                                  <li th:class="${pageResponseDTO.getPage() == i} ? 'page-item active' : 'page-item'">
                                    <a th:href="|/${category1}@{/list(page=${i})}${pageResponseDTO.linkParams}|" class="page-link" th:data-num="${i}">[[${i}]]</a>
                                  </li>

                                </th:block>
                                <li th:if="${pageResponseDTO.next_page_flag}">
                                  <a th:href="|/${category1}@{/list(page=${pageResponseDTO.page_block_end +1})}${pageResponseDTO.linkParams}|"><i class="lni lni-chevron-right"></i></a>
                                </li>
                              </ul>
                            </div>
                            <!--/ End Pagination -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
              <th:block th:unless="${pageResponseDTO.dtoList.size() > 0}">
                <div class="row">
                  <div class="col-12 bg-white rounded shadow-sm">
                    <div class="d-flex flex-column gap-3 align-items-center justify-content-center py-5">
                      <h4>아직 등록된 상품이 없습니다.😰</h4>
                      <small>틴플리의 첫 상품 등록해볼까요?</small>
                      <div class="button header-button">
                        <a href="/goods/regist" class="btn">첫 상품 등록하러 가기</a>
                      </div>
                    </div>
                  </div>
                </div>
              </th:block>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Category -->
  </div>
  </body>
</html>
