<!DOCTYPE html>
<html class="no-js" lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/common.html}">
<body>
<div layout:fragment="content">
    <!-- Start Item Details -->
    <section class="item-details section">
      <div class="container">
        <div class="d-flex justify-content-between mb-2">
          <div><a href="/goods/list" type="button" class="btn btn-outline-primary">목록</a></div>
          <div class="d-flex gap-1">
            <a th:href="|/goods/delete?bbsIdx=${bbsDTO.bbsIdx}|"type="button" class="btn btn-outline-primary">삭제</a>
            <a th:href="|/goods/modify?bbsIdx=${bbsDTO.bbsIdx}|" type="button" class="btn btn-primary">수정</a>
          </div>
        </div>
        <div class="top-area">
          <div class="row h-100">
            <div class="col-lg-6 col-md-12 col-12 h-100">
              <div class="product-images">
                <main id="gallery">
                  <div class="main-img">
                    <!-- 섬네일 -->
                    <img class="img" th:src="|${bbsDTO.thumbnailDirectory}/${bbsDTO.thumbnailFileName}|" id="current" alt="#" />
                  </div>
                    <!-- 파일리스트 -->
                  <div class="img-inner">
                    <div class="goods-slider">
                      <img th:if="${bbsFileDTOList.size()>0}" th:each="dto:${bbsFileDTOList}" class="img h-fixed" th:src="|${dto.directory}/${dto.fileName}|" title="1" alt="#" />
                    </div>
                  </div>
                </main>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-12 h-100 h-100">
              <div class="product-info d-flex flex-column h-100 ps-md-0 ps-sm-0">
                <div class="pb-5 pt-sm-5">
                  <h2 class="title">[[${bbsDTO.title}]]</h2>
                  <p class="location"><i class="lni lni-map-marker"></i><a href="javascript:void(0)">[[${bbsDTO.addr1}]] [[${bbsDTO.addr2}]]</a></p>
                  <h3 class="price">[[${bbsDTO.price}]]</h3>
                </div>
                <div class="pt-lg-5 pt-md-1 pt-sm-1">
                  <div class="contact-info">
                    <ul>
                      <li>
                        <a th:href="|tel:${bbsDTO.phoneNumber}|" class="call">
                          <i class="lni lni-phone-set"></i>
                          <strong>연락하기</strong>
                          <span class="ft-smaller">걱정No! 안심번호로 연락됩니다.</span>
                        </a>
                      </li>
                      <li>
                        <a th:href="|mailto:${bbsDTO.email}|" class="mail">
                          <i class="lni lni-envelope"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="social-share">
                    <h4>공유하기</h4>
                    <ul>
                      <li>
                        <a onclick="copyLink(document.documentURI);" class="link"><i class="lni lni-link"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item-details-blocks">
          <div class="row">
            <div class="col-lg-8 col-md-7 col-12">
              <!-- Start Single Block -->
              <div class="single-block description">
                <h3>상세내용</h3>
                <div class="row align-items-stretch">
                  <div class="col-lg-12 col-md-10 col-12 p-3 rounded-end border overflow-y-scroll" style="height: 500px" th:utext="${bbsDTO.content}">
                  </div>
                </div>
              </div>
              <!-- End Single Block -->
            </div>
            <div class="col-lg-4 col-md-5 col-12">
              <div class="item-details-sidebar">
                <!-- Start Single Block -->
                <div class="single-block">
                  <h3>Location</h3>
                  <div class="mapouter">
                    <div class="gmap_canvas">
                      <iframe width="100%" height="300" id="gmap_canvas" th:src="|https://maps.google.com/maps?q=${bbsDTO.addr1}&t=&z=13&ie=UTF8&iwloc=&output=embed|" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br />
                      <style>
                        .mapouter {
                          position: relative;
                          text-align: right;
                          height: 300px;
                          width: 100%;
                        }</style
                      ><a href="https://www.embedgooglemap.net">google map code for website</a>
                      <style>
                        .gmap_canvas {
                          overflow: hidden;
                          background: none !important;
                          height: 300px;
                          width: 100%;
                        }
                      </style>
                    </div>
                  </div>
                </div>
                <!-- End Single Block -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Item Details -->
</div>

    <!-- ========================= JS here ========================= -->
    <script type="text/javascript" layout:fragment="script">
      const current = document.getElementById("current");
      const opacity = 0.6;
      const imgs = document.querySelectorAll(".img");
      imgs.forEach((img) => {
        img.addEventListener("click", (e) => {
          //reset opacity
          imgs.forEach((img) => {
            img.style.opacity = 1;
          });
          current.src = e.target.src;
          //adding class
          //current.classList.add("fade-in");
          //opacity
          e.target.style.opacity = opacity;
        });
      });

      tns({
        container: '.goods-slider',
        items: 3,
        slideBy: 'page',
        autoplay: false,
        mouseDrag: true,
        gutter: 0,
        nav: false,
        controls: true,
        loop: false,
        swipeAngle: false,
        controlsText: ['<i class="lni lni-chevron-left user-page"></i>', '<i class="lni lni-chevron-right user-page"></i>'],
        responsive: {
          0: {
            items: 1,
          },
          200: {
            items: 2,
          },
          400: {
            items: 3,
          }
        }
      });
    </script>
  </body>
</html>
